* {
    user-select: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: .15s;
}

icon {
    font-family: 'SF Pro', SfPro;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
}

body.loaded>*:not(.headsUp) {
    opacity: 1;
    filter: blur(0);
}

body:not(.loaded)>* {
    opacity: 0;
    filter: blur(10px);
}

body.freeze {
    pointer-events: none !important;
}

body::after {
    content: '';

    opacity: 1;

    width: calc(100% + 2px);
    height: calc(100% - 19px);

    transition: .15s;

    position: absolute;
    bottom: -1px;

    border-radius: 10px;

    pointer-events: none;
}

body:has(.popHome:not(.hide))::after {
    opacity: 0;
    height: calc(100% - 36px);
}

body:has(#urlBar:focus)::after,
body:has(.chrome:hover)::after {
    opacity: 1;
    height: calc(100% - 36px);
}

body::before {
    content: '';

    height: 214px !important;
    width: 100%;

    background: radial-gradient(var(--surface-glow) 20%, transparent);
    mask-image: linear-gradient(to bottom, black 20%, transparent);
    opacity: 0;

    transition: .15s;

    position: absolute;
    top: -107px;
    z-index: -1;
}

body:has(.popHome:not(.hide)):has(#urlBar:focus)::before,
body:has(.popHome.hide):has(#urlBar:focus)::before {
    opacity: 1 !important;
}

body:has(.chrome:hover)::before {
    opacity: .75 !important;
}

body:has(.popHome.hide):has(#urlBar:focus)::before {
    height: 47px;
}

.chrome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    position: relative;
    z-index: 6;

    width: 100%;
    height: 20px;

    transition: .15s;

    /* background-color: purple; */
}

.chrome:hover,
.chrome:has(#urlBar:focus),
body:has(.popHome:not(.hide)) .chrome {
    height: 37px;
}

.chrome::before {
    content: '';
    width: 30px;
    height: 7px;

    transform: scale(1);

    pointer-events: none;

    background-color: var(--text-primary-blur);
    border-radius: 100px;
    transition: .15s;
}

.chrome:hover::before,
.chrome:has(#urlBar:focus)::before,
body:has(.popHome:not(.hide)) .chrome::before {
    opacity: 0;
    transform: scale(1.5);
}

.mainWebview {
    width: calc(100% + 2px);
    height: calc(100% + 1px);
    margin-bottom: -1px;
    margin-left: -1px;

    padding: 0;

    overflow: hidden;
    border-radius: 11px;
}

body:has(.popHome:not(.hide)) .mainWebview {
    display: none;
}

#urlBar {
    appearance: none;
    border: none;
    outline: none;
    resize: none;

    position: absolute;
    top: 0;
    width: calc(100% - 188px);
    height: calc(100%);
    z-index: 1;

    white-space: nowrap;
    overflow-y: hidden;
    resize: none;

    background-color: transparent;
    color: var(--text-primary-blur);
    transform: scale(.5);
    line-height: 1.75rem;
    text-align: center;
    transition: .15s;
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    padding: 5px 7px;
}

#urlBar:focus {
    text-align: start;
    width: 100%;
}

.chrome:hover #urlBar,
.chrome:has(#urlBar:focus) #urlBar,
body:has(.popHome:not(.hide)) #urlBar {
    opacity: 1;
    transform: scale(1);
}

body:has(.popHome.hide) .chrome:not(.chrome:hover):not(.chrome:has(#urlBar:focus))>* {
    opacity: 0 !important;
    transition: .15s;
}

.navBtn {
    appearance: none;
    outline: none;
    border: none;
    z-index: 2;

    width: 30px;
    height: 30px;

    color: transparent;
    background-color: transparent;
    border-radius: 6px;

    font-weight: 600;
    font-size: 16px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .1s;
}

body:has(#urlBar:focus) .navBtn,
.navBtn[disabled] {
    display: none;
}

.mainNav {
    position: absolute;
    right: 4px;

    display: flex;
    width: fit-content;
    gap: 3px;
}

body:has(.popHome:not(.hide)) .navBtn:not(.moreBtn) {
    opacity: 0;
    pointer-events: none;
}

body:has(.popHome.hide) .bookmarkBtn {
    opacity: 1;
    pointer-events: all;
}

.bookmarkBtn {
    display: flex;

    & .a {
        display: flex;
    }

    & .b {
        display: none;
    }

    &.bookmarked .a {
        display: none;
    }

    &.bookmarked .b {
        display: flex;
    }
}

#urlBar:focus,
#urlBar:hover,
.navBtn:hover,
.chrome:hover .navBtn,
body:has(.popHome:not(.hide)) .navBtn {
    color: var(--text-primary);
}

.navBtn:hover {
    background-color: var(--surface-button);
}

.navBtn:not(:hover) {
    box-shadow: none;
}

.historyNav {
    position: absolute;
    left: 4px;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

body.changes .historyNav>.navBtn:not(.homeBtn) {
    display: none;
}

/* popHome */

.popHome {
    width: 100vw;
    height: calc(100vh - 37px);

    position: absolute;
    bottom: 0;
    left: 0;

    overflow: hidden;
    border-radius: 11px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text-primary);

    &.hide {
        display: none;
    }

    & p {
        margin: 0;
        padding: 0;
    }
}

.popHome.hide *,
.popHome.hide>* {
    filter: none !important;
    backdrop-filter: none !important;
}

.headsUp {
    background-color: var(--surface-solid);

    position: fixed;
    top: -20px;
    z-index: 5;

    width: fit-content;
    height: fit-content;
    aspect-ratio: 4/1;

    transform: scale(.65);
    transition: .5s;
    opacity: 0;
    filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;

    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 100px;

    user-select: none;

    &:not(.show) {
        pointer-events: none;
    }

    &:hover {
        filter: blur(10px) !important;
        opacity: .5 !important;
    }

    &.show {
        top: 45px;
        transform: scale(1);
        opacity: 1;
        filter: blur(0);
    }

    & .title {
        font-size: 14px;
        font-weight: 500;
        max-width: max-content;
    }

    & .message {
        font-size: 12px;
        opacity: .5;
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &:has(.message:empty) {
        margin-bottom: -3px;
    }

    & p {
        margin: 0;
        padding: 0;
    }
}

.appver {
    font-size: 14px;
    font-weight: 500;
    opacity: 1;

    padding: 5px 5px 5px 13px;
    border-radius: 100px;
    background-color: var(--surface-button);

    display: flex;
    align-items: center;
    gap: 5px;

    transition: transform .15s, border-radius .2s, opacity .1s, padding-right .1s, font-weight .1s, font-size .1s, right .4s;

    /* position: absolute; */
    z-index: 25;
    /* bottom: 20px; */
    /* right: 25px; */

    & p {
        opacity: .5;
        transition: .1s;
    }

    & p::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;

        width: 50%;
        height: 100%;
    }

    &:hover {
        background-color: var(--surface-button-attention);
        transform: scale(1.075);
    }

    &:active {
        transform: scale(.925);
    }
}

.appver:hover p,
body:has(.changesDiv.show) .appver p {
    opacity: 1;
}

body:has(.changesDiv.show) .appver,
body:has(#labsContainer.open) .appver {
    background-color: var(--surface-button-attention);
}

.changesDiv {
    width: 40vw;
    height: calc(100vh - 97px);

    background-color: var(--surface-secondary);
    backdrop-filter: blur(10px);
    padding: 5px;

    display: flex;
    transform: scale(.7);
    transform-origin: top right;
    filter: blur(10px);
    opacity: 0;

    padding: 0;
    border-radius: 11px;

    transition: .4s;

    box-sizing: border-box;

    position: absolute;
    top: 50px;
    right: 0;
    z-index: 30;

    &:not(.show) {
        pointer-events: none;
    }

    &.show {
        transform: scale(1);
        filter: blur(0);
        opacity: 1;
    }

    &.show:hover {
        background-color: var(--surface-solid);
    }

    & #iframe-changes {
        width: calc(100%);
        height: calc(100%);

        margin: 0;
        padding: 0;
    }
}

#labsContainer {
    width: min-content;
    height: min-content;

    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    transition: filter .4s, height .4s, width .4s, background-color .15s, padding-bottom .4s, backdrop-filter .15s, transform .2s;

    border-radius: 22px;
    background-color: transparent;
    padding: 5px;
    padding-bottom: 0;

    & .labsHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;

        width: 0;
        height: 0;
        flex-shrink: 0;

        overflow: hidden;

        z-index: 10;
        background-color: var(--surface-solid);

        transition: .15s;

        box-sizing: border-box;
        border-radius: 22px;
    }

    /* &:not(.open) .appver,
    &:has(.changesDiv:not(.show)) .appver {
        padding: 5px 10px;
        gap: 0;
    } */

    & .labsHeader:hover {
        background-color: var(--surface-button-attention);
    }

    &:has(.labsHeader:hover) .appver {
        background-color: var(--surface-solid);
    }

    &.open .labsHeader,
    &:has(.changesDiv.show) .labsHeader {
        width: 32px !important;
        height: 32px !important;
    }

    & .labBoxes {
        transform: scale(.6);
        transition: .35s;
        transform-origin: top right;

        pointer-events: none;

        filter: blur(10px);
        opacity: 0;

        background-color: var(--surface-secondary);
        backdrop-filter: blur(10px);
        border-radius: 11px;

        display: flex;
        flex-direction: column;

        position: absolute;
        top: 50px;
        right: 0px;

        width: 350px;
        height: min-content;
    }

    &.open .labBoxes {
        transform: scale(1);
        pointer-events: all;
        opacity: 1;
        filter: none;
    }

    & .labDiv {
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        gap: 7px;
        font-size: 12px;

        border-radius: 11px;

        position: relative;

        width: 100%;
        padding: 10px 5px;
        box-sizing: border-box;
        transition: .2s;
    }

    &:not(.open) .labDiv {
        opacity: 0;
    }

    & .labDiv:not(:first-of-type)::before {
        content: '';
        width: calc(100% - 35px);
        height: 1px;

        position: absolute;
        top: 0;
        right: 1px;

        background-color: var(--text-primary);
        opacity: .25;
    }

    & .labDiv label {
        padding-top: 18px;

        position: relative;
    }

    & label::before {
        content: attr(title);
        font-size: 15px;
        font-weight: 600;

        position: absolute;
        top: 0;
    }

    & .labDiv input[type="checkbox"] {
        margin-bottom: auto;
    }
}

.reloadHint {
    font-size: 12px;

    width: max-content;
    max-width: 100%;

    position: absolute;
    bottom: 10px;
    right: 15px;

    padding: 5px 10px !important;
    border-radius: 100px;

    background-color: var(--surface);
    color: var(--text-primary);
    opacity: .5;
}

.launchpad {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(239px, 1fr));
    align-items: center;
    justify-content: center;
    align-content: start;
    gap: 20px 10px;
    flex-shrink: 0;

    padding: 20px 10px;
    box-sizing: border-box;

    width: fit-content;
    max-width: calc(255px * 3);
    height: max-content;
    max-height: 100%;
    overflow-y: scroll;

    position: relative;
    z-index: 1;

    transition: .2s;

    &:empty {
        display: flex;
        flex-direction: column;
    }

    &:empty::before {
        content: 'No bookmarks';
        font-weight: 600;
        opacity: .5;
    }

    &:empty::after {
        content: 'Bookmark pages with ⌘K or with the ribbon button in the top-right';
        font-size: 13px;
        opacity: .5;
    }
}

@media (max-width: 760px) {
    .launchpad {
        max-width: calc(255px * 2);
    }
}

@media (max-width: 510px) {
    .launchpad {
        max-width: 260px;
    }
}

body:has(#labsContainer.open) .launchpad,
body:has(#changesDiv.show) .launchpad,
body:has(.modal.show) .launchpad {
    transform: scale(.95);
    filter: blur(7px);
    opacity: .8;

    pointer-events: none;
}

.launchpad .bookmark-item {
    width: 230px;
    height: 158px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0;

    position: relative;
    z-index: 1;

    transition: .1s;

    opacity: 0;
    transform: translateY(10px);
    filter: blur(10px);
    animation: floatFadeIn 0.5s ease forwards;

    & .screenshot {
        width: calc(100%);
        aspect-ratio: 16.33/9;

        overflow: hidden;
        transition: .20s;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--surface-solid);
        flex-shrink: 0;

        border-radius: 10px 10px 0 0;
        position: absolute;
        top: 0;
        z-index: 3;
    }

    &:hover .screenshot {
        aspect-ratio: 18/9;
        border-radius: 10px;
        margin-top: -7%;
    }

    & .screenshot img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center 0%;
        border-radius: inherit;

        transform: .15s;
    }

    & .screenshot::before {
        content: '';
        border-radius: inherit;
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    & .bookmark-title {
        width: 100%;
        height: 55px;

        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 1px;
        flex-shrink: 0;
        overflow: hidden;

        text-align: start;
        font-size: 13px;
        font-weight: 500;

        background-color: var(--surface-button-solid);
        border-radius: 30px;

        box-sizing: border-box;
        padding: 10px 12px;
        padding-left: 50px;
        max-lines: 2;

        position: absolute;
        z-index: 4;
        bottom: 0;
    }

    &:hover .bookmark-title {
        border-radius: 17px;
        background-color: var(--surface-button-attention);
    }

    & .bookmark-title img.favicon {
        width: 28px;
        height: 28px;

        z-index: 4;
        position: absolute;
        left: 12px;

        /* filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.3)); */
    }

    & .bookmark-title img.favicon_b {
        filter: blur(10px) saturate(2);
        transform: scale(1);
        z-index: 3;
        opacity: .5;
    }

    &:hover img.favicon_b {
        filter: blur(7px) saturate(2);
        transform: scale(1.1);
        opacity: 1;
    }

    & .bookmark-title>.bookmark-text {
        height: min-content;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    & .bookmark-title img.screen {
        position: absolute;
        right: 2px;
        z-index: -10;
        opacity: 0;

        transition: .2s;
        border-radius: 30px;

        mask-image: linear-gradient(to right, transparent, #00000099);

        width: calc(100% - 4px);
        height: 0;
        object-fit: cover;
    }

    &:hover .bookmark-title img.screen {
        width: 108%;
    }

    & .bookmark-title::after {
        content: attr(title);
        font-size: 12px;
        opacity: .5;

        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &::before {
        content: attr(index);

        font-size: 13px;
        color: var(--text-primary-blur);

        background-color: var(--surface-button);
        backdrop-filter: blur(5px);
        box-shadow: 0 3px 5px #00000022;

        width: 25px;
        height: 25px;
        border-radius: 50px;
        transition: .15s;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: -10px;
        left: -10px;
        z-index: 20;
    }

    &:hover::before {
        background-color: var(--surface-button-attention-highlight);
    }
}

body.blur .bookmark-item {
    opacity: 0 !important;
}

body.altBookmark {
    overflow: hidden;

    & .bookmark-item {
        height: 50px;
    }

    &:hover .bookmark-title {
        border-radius: 30px !important;
    }

    & .bookmark-item:hover img.favicon {
        width: 34px;
        height: 34px;

        margin-left: -3px;
    }

    & .bookmark-item img.screen {
        opacity: 1 !important;
        height: calc(100% - 4px) !important;
    }

    & .bookmark-item .screenshot {
        height: 0;
        opacity: 0;
        transition-delay: 1s;
    }
}

/* body.loaded .bookmark-item>*:not(::after) {
    pointer-events: none;
} */

/* modal */

.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    transition: .4s;

    opacity: 0;
    pointer-events: none;

    &.show {
        opacity: 1;
        pointer-events: all;
    }
}

.modal-content {
    background-color: var(--surface-solid);
    color: var(--text-primary);
    backdrop-filter: blur(10px);
    border-radius: 11px;

    margin: 15% auto;
    padding: 10px 20px;
    padding-top: 15px;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    width: max-content;
    min-width: 220px;
    height: 135px;

    transition: .4s;

    transform: scale(.9) translateY(-20px);
}

.modal.show .modal-content {
    transform: scale(1) translateY(0);
}

.modal-content .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: auto;
    margin-left: -10px;

    position: relative;

    width: calc(100% + 20px);
}

.modal-content .buttons::before {
    content: '';
    width: calc(100% + 26px);
    height: 1px;

    background-color: var(--text-primary);
    opacity: .1;

    position: absolute;
    z-index: -1;
    bottom: 31px;
    left: -8px;
}

.modal-content input {
    background-color: transparent;
    height: 24px;
    width: 81%;
    margin-left: auto;

    box-sizing: border-box;
    padding-left: 5px;

    &:focus {
        outline: 3px solid var(--surface-highlight);
    }

    &#newBookmarkURL {
        margin-top: 10px;
    }
}

.bkTitle {
    font-size: 14px;
    font-weight: 500;
    margin: 0 auto;
    margin-bottom: 15px;
}

.modal-content .hint {
    font-size: 11px;

    opacity: .5;

    display: flex;
    flex-direction: column;
    gap: 20px;

    position: absolute;
    transform: translateY(38px);
}

.modal-content input,
#close,
#editButton {
    color: var(--text-primary);
    border-radius: 7px;
    appearance: none;
    border: none;
    outline: none;
}

#close,
#editButton {
    width: 76px;
    height: 24px;

    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    background-color: var(--surface-button);
}

#close:hover {
    background-color: var(--surface-button-attention);
}

#editButton {
    background-color: var(--surface-button-attention);
}

#editButton:hover {
    background-color: var(--surface-button);
}

.buttons:has(#close:hover) #editButton {
    background-color: var(--surface-button);
}


@media (prefers-color-scheme: light) {
    :root {
        --surface: #ffffff;
        --surface-solid: #ffffff;
        --surface-secondary: #ffffffaa;
        --surface-button: #ffffff89;
        --surface-button-solid: #ddd;
        --surface-button-attention: #eee;
        --surface-button-attention-highlight: #eee;

        --surface-highlight: #eeeeee;
        --surface-glow: #fff;

        --text-primary: #222;
        --text-primary-blur: #22222288;

        color: black;
    }

    .launchpad .bookmark-item .screenshot::before,
    .bookmark-item img.screen,
    .launchpad .bookmark-item .bookmark-title,
    .launchpad .bookmark-item::before,
    #labsContainer .labBoxes,
    .navBtn,
    body::after,
    .appver,
    .changesDiv,
    .modal-content,
    .headsUp,
    #close,
    #editButton,
    .modal-content input {
        box-shadow:
            0 5px 15px #00000011,
            inset 0 0 0 1px #00000035,
            inset 0 0 0 2px #ffffff55;

        &:not(.modal-content):not(.labBoxes):not(.mainWebview):not(.changesDiv):not(.bookmark-item::before):hover,
        :focus {
            box-shadow:
                0 5px 15px #00000011,
                inset 0 0 0 1px #00000035,
                inset 0 0 0 2px #ffffff55,
                inset 0 0 0 100vw #00000015;
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --surface: #222222aa;
        --surface-solid: #222222;
        --surface-secondary: #404040aa;
        --surface-button: #333333aa;
        --surface-button-solid: #2C2C2C;
        --surface-button-attention: #eeeeee2f;
        --surface-button-attention-highlight: #454545;

        --surface-highlight: #ffffff44;
        --surface-glow: #ffffff77;

        --text-primary: #eee;
        --text-primary-blur: #eeeeee88;

        color: white;
    }

    .launchpad .bookmark-item .screenshot::before,
    .bookmark-item img.screen,
    .launchpad .bookmark-item .bookmark-title,
    .launchpad .bookmark-item::before,
    #labsContainer .labBoxes,
    .navBtn,
    body::after,
    .appver,
    .changesDiv,
    .modal-content,
    .headsUp,
    #close,
    #editButton,
    .modal-content input {
        box-shadow:
            0 5px 15px #00000011,
            inset 0 0 0 1px #00000084,
            inset 0 0 0 2px #ffffff19;

        &:not(.modal-content):not(.labBoxes):not(.mainWebview):not(.changesDiv):not(.bookmark-item::before):hover,
        :focus {
            box-shadow:
                0 5px 15px #00000011,
                inset 0 0 0 1px #00000084,
                inset 0 0 0 2px #ffffff19,
                inset 0 0 0 100vw #ffffff15;
        }
    }
}

@font-face {
    font-family: SfPro;
    src: url(./buildResources/sfp.ttf);
}

@keyframes floatFadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
        filter: blur(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}